#############
## Python
#############

*.py[co]
*.json
*.pkl
*.~*

# packaging
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# caches
__pycache__/
tests/__pycache__

# virtualenv
venv/
.venv/
venv3/
.venv3/

# misc
.bandit
.coverage
.tox

# project specific
boatman/__pycache__/
boatman/doc/
boatman/_eric6project/
boatman/boatman.e4p
boatman/*.rst
