bandit==1.5.1
check-manifest==0.37 # check
colorama==0.4.1
coveralls==1.5.1
detox==0.18
docutils==0.14
flake8==3.6.0
mypy-lang==0.5.0
Pygments==2.3.1
PyInstaller==3.4
pylint==2.2.2
pytest==2.9.2
pytest-cov==2.3.1
Sphinx==1.4.6
twine==1.8.1
wheel==0.29.0
